/Android/.gradle/
/Android/.idea/
/.idea/
/Android/app/build/
/Android/app/src/main/java/com/example/myinmobiads/MyLocalMainActivity.java
/Android/local.properties
/DotNet/.idea/
/DotNet/SampleShowAd/bin/
/DotNet/SampleShowAd/obj/
/DotNet/SampleShowAd/MyLocalMainActivity.cs
/DotNet/VhChartboost/bin/
/DotNet/VhChartboost/obj/
/Android/VpnHood_InMobi_Ads/build/
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/DesignTimeBuild/.dtbcache.v2
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/v17/.futdcache.v2
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/v17/.suo
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/v17/TestStore/0/000.testlog
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/FileContentIndex/8fe560ca-0cdd-4cb9-8ebd-3aeef55004e3.vsidx
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/FileContentIndex/48dd94eb-5136-4fdc-b72f-a749c754fac9.vsidx
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/FileContentIndex/4021ae6f-f544-48df-b288-7d6f49ff37bc.vsidx
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/FileContentIndex/d0e1c6d7-b3bf-42d9-9f1e-f4beca550a27.vsidx
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/v17/DocumentLayout.json
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/FileContentIndex/ec532e72-f288-49ff-9beb-24536ff7ba5e.vsidx
/DotNet/SampleShowAd/InMobiCredential.cs
/Android/app/src/main/java/com/example/myinmobiads/InMobiCredential.java
/DotNet/.vs/VpnHood.Client.App.Android.Ads.InMobi/v17/TestStore/0/testlog.manifest
/DotNet/.vs/ProjectEvaluation/vpnhood.client.app.android.ads.inmobi.metadata.v8.bin
/DotNet/.vs/ProjectEvaluation/vpnhood.client.app.android.ads.inmobi.projects.v8.bin
/DotNet/.vs/ProjectEvaluation/vpnhood.client.app.android.ads.inmobi.strings.v8.bin
/DotNet/VhInMobi/bin/
/DotNet/VhInMobi/obj/
/DotNet/.vs/
