/.idea/
/Android/.gradle/
/Android/.idea/
/Android/app/build/
/Android/VpnHood_InMobi_Ads/build/
/Android/local.properties
/Android/app/src/main/java/com/example/myinmobiads/InMobiCredential.java
/DotNet/.idea/
/DotNet/.vs/
/DotNet/SampleShowAd/bin/
/DotNet/SampleShowAd/obj/
/DotNet/VhInMobi/bin/
/DotNet/VhInMobi/obj/
/DotNet/SampleShowAd/InMobiCredential.cs
/DotNet/SampleShowAd/SampleShowAd.csproj.user
